.football {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field {
  width: 100%;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 1000;
}
#tablo {
  position: absolute;
  width: 100%;
}
#gol {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 80px;
  color: red;
}
