* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: sans-serif;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
}
.content,
.panel {
  padding: 15px 20px;
}
.box {
  display: inline;
}
.btn_save {
  display: none;
}
